{
  "Connections": [
    {
      "Name": "",
      "System": "Mongo/Postgres/MsSql",
      "ConnectionString": ""
    }
  ],
     "Tests": {
       "Iterations": 30,
       "OutputDirectory": ""
     } 
}
