{
  "DataGenerator": {
    "StudentsCount": 1000,
    "InstructorsCount": 500,
    "CoursesCount": 1000,
    "CourseInstancesPerCourse": 10,
    "EnrollmentsPerStudent": 10
  },
  "Connections": [
    {
      "Name": "",
      "System": "Mongo/Postgres/MsSql",
      "ConnectionString": ""
    }
  ],
     "Tests": {
        "DatabaseName": "",
       "Iterations": 30,
       "OutputDirectory": ""
     } 
}
